<partial name="~/Views/Shared/_HeaderPartialView.cshtml" />
<partial name="~/Views/Shared/_SliderPartialView.cshtml" />
<partial name="~/Views/Shared/_ArticlePartialView.cshtml" />

<section class="footer-2 section-padding gray-bg pb-5">
    <div class="container">
        <partial name="~/Views/Shared/_SubscribePartialView.cshtml" />
        <partial name="~/Views/Shared/_FooterPartialView.cshtml" />
    </div>
</section>