<div class="row justify-content-center">
	<div class="col-lg-6">
		<div class="subscribe-footer text-center">
			<div class="form-group mb-0">
				<h2 class="mb-3">Subscribe Newsletter</h2>
				<p class="mb-4">Subscribe my Newsletter for new blog posts , tips and info.
				<p>
				<div class="form-group form-row align-items-center mb-0">
					<div class="col-sm-9">
						<input type="email" class="form-control" placeholder="Email Address">
					</div>
					<div class="col-sm-3">
						<a href="#" class="btn btn-dark ">Subscribe</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>